/*.color1 { #042608 };
.color2 { #2a5c0b };
.color3 { #808f12 };
.color4 { #faedd9 };
.color5 { #ea2a15 };*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&display=swap');
/*Incluindo google fonts*/
body {
    font-family: 'Jost', sans-serif;
    background-color: #faedd9;
    color: #042608;
    font-size: 1.2rem;
    line-height: 1.5;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #ea2a15; 
}
/*https://dontpad.com/idw2025*/

/* comentário */
#cabecalho{
    background-color: #110f4d;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0;
}
#logo{
    padding: 10px;
    max-width: 30vh;
    height: auto;
}
#logo img{
    width: 130px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
}
/*#menu{
    width: 80%;
    background-color: burlywood;
    height: 40px;
}*/

#menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
}

#menu a:hover {
    color: #fff;
}
#home, #sobreMim, #portifolio, #contato{
    scroll-margin-top: 150px;
}
#home{
    background-image: url('https://www.istockphoto.com/pt/foto/honeycomb-network-concept-data-transfer-digital-technological-background-3d-rendering-gm1444916714-483485893.png');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#home p{
    width: 80%;
    padding: 15px;
    border-radius: 7px;
    text-align: justify;
    background-color: #042608;
    color: #fff;
    opacity: 75%;
    max-width: 1200px;

}

#portifolio{
    display: flex;
    
}

#portifolio article{
    border: 1px solid #042608;
    border-radius: 7px;
    padding: 5px;
    margin: 10px;
    margin-top: 20px;
    width: 0 auto;
    box-shadow:0px 2px 5px #042608;
}

#portifolio article h2{
    font-size: 1.2rem;
    
}

#portifolio article p{
    text-justify: auto;
}

#portifolio article a{
    color: #333;
    font-weight: bold;
}

#portifolio article a:hover{
    color: #ea2a15;
}

#footer{
    background-color: #110f4d;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer #redesSociais{
    background-color: #110f4d;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contato input:focus{
    margin: 0 10px;
}